:root{
    --background-color : rgb(197, 191, 191);
    --second-main-color : #efe3e9 ;
    --text-color : #333;
    --border-shadow : 0 3px 5px rgba(0, 0, 0, 0.5);
    --transition : all 100ms 100ms linear;
    --theme-red : rgb(186, 59, 59);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.names-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.names-wrapper > h2{
    padding-bottom: 10px;
    letter-spacing: 1px;
}

.names-wrapper > h5{
    color: var(--theme-red);
}

.under{
    border-top:  var(--theme-red) 7px solid;
    display: flex;
    width: 56px;
    margin: 10px auto;
    border-radius: 5px;
    height: 5px;
    padding-bottom: 30px;
}

body{
    background-color: black;
    font-family: roboto, sans-serif;  
    width: 100%;
    color: rgb(73, 70, 70);
}

.logo-wrapper{
    transform: rotate(-4deg);
    padding: 8px;
    background-color: var(--theme-red);
    border-radius: 15px;
    box-shadow: 0 3px 5px rgba(10, 10, 10, 0.5);
    position: absolute;
    display: flex ;
    justify-content: center;
}

span{
    color:  var(--theme-red);
    font-weight: bolder;
    font-size: 2.1rem;
}


.menu-bars span{
    background-color:  var(--theme-red);
    width: 15px;
    height: 3px;
    display: block;
    margin-bottom: 3px;
    padding-top: 2px;   
    transition: all .5s ease;
    border-radius: 5px;
}

.close.menu-bars span:nth-child(1){
    transform: rotate(-45deg) translate(-4px, 5px);
    width: 20px;
    background-color: var(--theme-red);
    height: 3px;
}
.close.menu-bars span:nth-child(2){
    opacity: 0;
}
.close.menu-bars span:nth-child(3){
    transform: rotate(45deg)  translate(-4px, -5px);
    width: 20px;
    background-color: var(--theme-red);
}

.menu-bars{
    visibility: hidden;
}

button{
    visibility: hidden;
}

.container{
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 20px;
}

.flex-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#main-head{
    background-color: black;
    padding: 20px;
    height: 8vh;
    width: 100%;
    position: relative;
    z-index: 100;
}

.logo{
    font-weight: bolder;
    margin: 0;
    color: black;
    text-shadow: var(--border-shadow);
    letter-spacing: 1px;
    position: relative;
    font-size: 14px ;
}


.nav-links{
    display: flex;
    margin-left: 20px;
    background-color: black;
    padding: 7px 50px;
    border-radius: 20px;
    box-shadow: var(--border-shadow);
    text-align: center;
}

.nav-links li{
    margin: 0 20px;
    list-style: none;
    letter-spacing: 1px;
}

.nav-links a{
    text-decoration: none;
    font-weight: bolder;
    color: var(--text-color);
    transition: var(--transition);
}

.nav-links a:hover{
    background-color:  var(--theme-red);
    border-radius: 10px;
    color: var(--background-color);
}

.nav-links a:active{
    color:  var(--theme-red);
}

.hero{  
    height: 81vh;    
    position: relative;
    background-image: url(./1587717449_image_christopher-gower-m_HRfLhgABo-unsplash.jpg);
    background-size: cover;
}

.hero::after{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: black;  
    opacity: .7;
}

.profile-pic{
    position: absolute;
    width: 400px;
    height: 400px;
    border:  var(--theme-red) solid 5px;
    z-index: 100;
    border-radius: 100%;
    object-fit: cover;
    bottom: -80px;
    left: 70px;
} 

#about-me{
    width: 100%;
    display: flex;
    align-items: center;
}

.a-m-heading{
    font-size: 2rem;
    text-align: center;
    margin-bottom: 50px 0;
    letter-spacing: 3px;
    padding-top: 30px;
}

.a-m-paragraph{
    font-weight: bold;
    margin: 30px 0;
    line-height: 1.4;
    word-spacing: 2px;
}

#projects{
    min-height: 100vh;
    width: 100%;
    padding-top: 3px;
}

.p-image{
    height: 100px;
    width: 200px;
    margin-top: 10px;
    box-shadow: var(--border-shadow);
    transition: all 120ms ease-out;
    visibility: visible;
}

.p-image:hover{
    transform: scale(1.1);
}

.p-title{
    margin-top: 15px;
    text-decoration: none;
    color: black;
    transition: all 120ms ease-out;
}

.projects-wrapper{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.p-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px;
    height: 200px;
    background-color: var(--theme-red);
    margin: 10px;
    border-radius: 20px;
    box-shadow: 0 3px 5px var(--theme-red) ;
}

.c-heading{
    font-size: 2rem;
    text-align: center;
    margin-bottom: 50px 0;
    letter-spacing: 3px;
    padding-top: 50px;
}

.cards-wrapper{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.c-card{
    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 250px;
    height: 200px;
    border-radius: 10px;
    box-shadow: var(--border-shadow);
    margin: 20px;
    border-radius: 50%;
}

.date{
    margin-top: 25px;
    margin-left: 140px;
    color: rgb(21, 21, 21);
}

.update{
    display: flex;
    justify-content: end;
}

.coming{
    display: flex;
    justify-content: end;
    margin-right: 20px;
    margin-bottom: 20px;
}

.c-card p{
    font-weight: bold;
    font-size: 0.8rem;
    line-height: 1.2;
    letter-spacing: 1px;
}

.c-image{
    margin-bottom: 20px;
}

.back-to-top li{
    visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--theme-red) ;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-decoration: none;
    list-style: none;
    font-weight: bolder;
    color:black;
    transition: var(--transition);
    box-shadow: var(--border-shadow);
    position: fixed;
    bottom: 50vh;
    left: 5vw;
}

.show-top .back-to-top li{
    visibility: visible;
}

i{
    padding: 15px;
    color: var(--theme-red);
}

footer{
    background-color: rgb(15, 15, 15);
    color: rgb(88, 86, 86) ;
    font-size: 11px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    width: 100%;
    flex-direction: column;
    padding-bottom: 20px;
}

.social-links i{
    margin: 15px;
    padding: 0;
}

.social-links{
    margin: 0;
    margin-bottom: 80px;
}

@media(max-width : 768px){

    .nav-links{
        flex-direction: column;
        position: absolute;
        top: 0vh;
        right: 0;
        width: 100%;
        height: 100vh;
        background: black;
        border-radius: 0;
        opacity: 0;
        visibility: hidden;
        transition: all .5s ease;
        
    }

    .nav-links a{
        color: var(--theme-red);
    }

    .logo-wrapper{
        transform: rotate(-4deg);
        background-color: var(--theme-red);
        padding: 8px;
        border-radius: 15px;
        box-shadow: 0 3px 5px rgba(10, 10, 10, 0.5);
        position: absolute;
        display: flex ;
        justify-content: center;
        z-index: 200;
    }

    .show.nav-links {
        opacity: 1;
        visibility: visible;
        display: block;
    }


    .close-menu span{
        color:var(--text-color) ;
        position: absolute;
        left: 55vw;
        top: 15px;
        display: inline-block;
        visibility: hidden;
        z-index: 1;
    }

    #main-head li{
        margin: 100px 0;
    }

    .menu-bars{
        visibility: visible;
        background-color: inherit;
        padding: 4px;
        transition: var(--transition);
        border: none;
        cursor: pointer;
        z-index: 2000;
    } 

    .profile-pic{
        position: absolute;
        width: 300px;
        height: 300px;
        border:  var(--theme-red)  solid 5px;
        z-index: 100;
        border-radius: 100%;
        object-fit: cover;
        bottom: -80px;
        left: 10px;
    }

    .p-card{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    footer{
        background-color: rgb(15, 15, 15);
        color: rgb(88, 86, 86) ;
        font-size: 11px;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50vh;
        width: 100%;
        flex-direction: column;
        padding-bottom: 20px;
    }

    .social-links i{
        margin: 15px;
        padding: 0;
    }

    .social-links{
        margin: 0;
        margin-bottom: 80px;
    }
}
