:root{
    --background-color : rgb(197, 191, 191);
    --second-main-color : #efe3e9 ;
    --text-color : rgb(111, 104, 104);
    --border-shadow : 0 3px 5px rgba(0, 0, 0, 0.5);
    --transition : all 100ms 100ms linear;
    --theme-red : rgb(32, 39, 46);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(32, 39, 46);
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    width: 100%;
    color: rgb(151, 146, 146);
}

.titles2{
    color: black;
}

.loggo{
    text-decoration: none;
}

.names-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.names-wrapper > h2{
    padding-bottom: 10px;
    letter-spacing: 1px;
}

.names-wrapper > h5{
    color: var(--theme-red);
}

.logo-wrapper{
    padding: 8px;
    background-color: var(--theme-red);
    border-radius: 15px;
    box-shadow: 0 3px 5px rgba(10, 10, 10, 0.5);
    position: absolute;
    display: flex ;
    justify-content: center;
}

span{
    color:  var(--theme-red);
    font-weight: bolder;
    font-size: 2.1rem;
}

.titles{
    color: black;
}

button{
    visibility: hidden;
}

.container{
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 20px;
}

.flex-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#main-head{
    background-color: rgb(32, 39, 46);
    padding: 20px;
    height: 8vh;
    width: 100%;
    position: relative;
    z-index: 100;
}

.logo{
    font-weight: bolder;
    margin: 0;
    color: black;
    text-shadow: var(--border-shadow);
    letter-spacing: 1px;
    position: relative;
    font-size: 14px ;
}

.hero{  
    height: 81vh;    
    position: relative;
    background-image: url(./1587717449_image_christopher-gower-m_HRfLhgABo-unsplash.jpg);
    background-size: cover;
}

.hero::after{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: black;  
    opacity: .5;
}

#about-me{
    width: 100%;
    display: flex;
    align-items: center;
}

.a-m-heading{
    font-size: 2rem;
    text-align: center;
    margin-bottom: 50px 0;
    letter-spacing: 3px;
    padding-top: 30px;

}

.a-m-paragraph{
    font-size: 12px;
    margin: 30px 0;
    line-height: 1.4;
    word-spacing: 2px;
}

#projects{
    min-height: 100vh;
    width: 100%;
    padding-top: 3px;
}

ul{
    padding-left: 14px;
}

.p-image{
    height: 150px;
    width: 300px;
    box-shadow: var(--border-shadow);
    transition: all 120ms ease-out;
}

.p-title{
    margin-top: 15px;
    text-decoration: none;
    color: black;
    transition: all 120ms ease-out;
}

.projects-wrapper{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row-reverse;
}

.p-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    background-color: var(--theme-red);
    margin: 10px;
    transition: all ease .3s;
}

.p-card:hover{
    transform: scale(1.1,1.1);
}

.c-heading{
    font-size: 2rem;
    text-align: center;
    margin-bottom: 50px 0;
    letter-spacing: 3px;
    padding-top: 50px;
}

.cards-wrapper{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.c-card{
    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 250px;
    height: 200px;
    border-radius: 10px;
    box-shadow: var(--border-shadow);
    margin: 20px;
    border-radius: 50%;
}

.date{
    margin-top: 25px;
    margin-left: 140px;
    color: rgb(21, 21, 21);
}

.c-card p{
    font-weight: bold;
    font-size: 0.8rem;
    line-height: 1.2;
    letter-spacing: 1px;
}

.c-image{
    margin-bottom: 20px;
}

.show-top .back-to-top li{
    visibility: visible;
}

i{
    padding: 15px;
    color: var(--theme-red);
}

footer{
    background-color: rgb(15, 15, 15);
    color: rgb(88, 86, 86) ;
    font-size: 11px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    width: 100%;
    flex-direction: column;
    padding-bottom: 20px;
}

#social-links i{
    margin: 15px;
    padding: 0;
}

#social-links{
    margin: 0;
    margin-bottom: 80px;
}

@media(max-width : 768px){

    .contacts-wrapper{
        margin-left: 30px;
        margin-top: 290px;
    }

    .projects-wrapper{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        align-items: center;
        flex-direction: column-reverse;
    }

    .logo-wrapper{
        background-color: var(--theme-red);
        padding: 8px;
        border-radius: 15px;
        box-shadow: 0 3px 5px rgba(10, 10, 10, 0.5);
        position: absolute;
        display: flex ;
        justify-content: center;
        z-index: 200;
    }

    #main-head li{
        margin: 100px 0;
    }

    .p-card{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    footer{
        background-color: rgb(15, 15, 15);
        color: rgb(88, 86, 86) ;
        font-size: 11px;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50vh;
        width: 100%;
        flex-direction: column;
        padding-bottom: 20px;
    }

    #social-links i{
        margin: 15px;
        padding: 0;
    }

    #social-links{
        margin: 0;
        margin-bottom: 80px;
    }
}
