:root{
    --background-color : rgb(197, 191, 191);
    --main-color : #5d4954;
    --second-main-color : #efe3e9 ;
    --text-color : #333;
    --border-shadow : 0 3px 5px rgba(0, 0, 0, 0.5);
    --transition : all 100ms 100ms linear
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    background-color: var(--background-color);
    font-family: roboto, sans-serif;  
}

span{
    color: var(--main-color);
    font-weight: bolder;
    font-size: 2.1rem;
}

.menu-bars span{
    background-color: var(--text-color);
    width: 15px;
    height: 3px;
    display: block;
    margin-bottom: 3px;
    padding-top: 2px;
}

.menu-bars{
    visibility: hidden; 
}

.container{
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 20px;
}

.flex-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#main-head{
    background-color: var(--main-color);
    padding: 20px;
    min-height: 8vh;
    overflow: hidden;
}

#main-head h2{
    font-weight: bolder;
    margin: 0;
    color: rgb(197, 191, 191);
    text-shadow: var(--border-shadow);
    letter-spacing: 2px;
}

#main-head ul{
    display: flex;
    margin-left: 20px;
    background-color: var(--background-color);
    padding: 7px 50px;
    border-radius: 20px;
    box-shadow: var(--border-shadow);
    text-align: center;
}

#main-head li{
    margin: 0 20px;
    list-style: none;
    letter-spacing: 1px;
}

#main-head a{
    text-decoration: none;
    font-weight: bolder;
    color: var(--text-color);
    transition: var(--transition);
}

#main-head a:hover{
    background-color: var(--main-color);
    border-radius: 10px;
    color: var(--background-color);
}

#main-head a:active{
    background-color: var(--second-main-color);
}

.hero{
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5)), url(./images/lwande.jpg);
    height: 100vh;
    background-size: cover;    
    position: relative;
}

.hero h2{
    color: var(--background-color);
    letter-spacing: 2px;
    line-height: 1.4;
}

.hero h2:nth-child(1){
    margin-top: 2vh;
}

.hero h2:nth-child(2){
    font-weight: bolder;
    font-size: 1.7rem;
}

.hero h2:nth-child(3){
    margin-top: 3vh;
    color: var(--main-color);
}

.hero .container{
    position: absolute;
    bottom: 30vh;
    left: 8vw;
}

#about-me{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: var(--background-color);
}

#about-me .heading{
    font-size: 2rem;
    text-align: center;
    margin: 50px 0;
    letter-spacing: 3px;
}

#about-me p{
    font-weight: bold;
    margin: 30px 0;
    line-height: 1.4;
    word-spacing: 2px;
}

#contacts{
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #ccc;
}

#contacts .heading{
    font-size: 2rem;
    text-align: center;
    margin: 50px 0;
    letter-spacing: 3px;
}

#contacts .card{
    background-color: rgb(235, 233, 233);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 50px;
    border-radius: 10px;
    box-shadow: var(--border-shadow);
    margin: 70px 0;
}

#contacts p{
    font-weight: bold;
    font-size: 0.8rem;
    line-height: 1.2;
    letter-spacing: 1px;
}

#contacts img{
    width: 70px;
    margin-bottom: 20px;
}

.back-to-top li{
    visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--main-color);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-decoration: none;
    list-style: none;
    font-weight: bolder;
    color:var(--second-main-color);
    transition: var(--transition);
    box-shadow: var(--border-shadow);
    position: fixed;
    bottom: 50vh;
    left: 5vw;
}

.show-top .back-to-top li{
    visibility: visible;
}

footer{
    background-color: black;
    color:  rgb(235, 233, 233) ;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    width: 100%;
}

@media(max-width : 768px){
    body{
        overflow-x: hidden;
    }

    #main-head ul{
        transform: translateX(100%); 
        flex-direction: column;
        position: absolute;
        top: 9vh;
        right: 0;
        width: 50vw;
        height: 50vh;
        background-color: var(--main-color);
        border-radius: 0;
        transition: var(--transition);
        z-index: 1;
    }

    #main-head .show{
        transform: translateX(0);
    }

    #main-head li{
        padding: 20px;
    }

    .menu-bars{
        visibility: visible;
        background-color: var(--main-color);
        padding: 4px;
        transition: var(--transition);
        border: none;
    } 

    .menu-bars:hover{
        background-color: var(--background-color);
    } 
 
    .close-bars span:nth-child(1){
        transform: rotate(45deg);
        transform-origin: -1px;
    }
    .close-bars span:nth-child(2){
        opacity: 0;
    }
    .close-bars span:nth-child(3){
        transform: rotate(-45deg);
        transform-origin: -1px ;
    }

    .close-bars:hover{
        background-color: red;
    }
}

@media(max-width : 810px){
    #main-head ul{
        margin-left: 10px;
        padding: 5px 40px;
    }

    #main-head h2{
        font-size: 22px;
    }
}