:root{
    --background-color : rgb(197, 191, 191);
    --main-color : #5d4954;
    --second-main-color : #efe3e9 ;
    --text-color : #333;
    --border-shadow : 0 3px 5px rgba(0, 0, 0, 0.5);
    --transition : all 100ms 100ms linear
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--background-color);
    font-family: roboto, sans-serif;  
}

span{
    color: var(--main-color);
    font-weight: bolder;
    font-size: 2.1rem;
}

.close-menu span{
    display: none;
}

.menu-bars span{
    background-color: var(--text-color);
    width: 15px;
    height: 3px;
    display: block;
    margin-bottom: 3px;
    padding-top: 2px;   
}

.menu-bars{
    visibility: hidden; 
}

button{
    visibility: hidden;
}

.container{
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 20px;
}

.flex-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#main-head{
    background-color: var(--main-color);
    padding: 20px;
    min-height: 8vh;
    position: relative;
    z-index: 100;
}

.logo{
    font-weight: bolder;
    margin: 0;
    color: rgb(197, 191, 191);
    text-shadow: var(--border-shadow);
    letter-spacing: 2px;
    position: relative;
}

.nav-links{
    display: flex;
    margin-left: 20px;
    background-color: var(--background-color);
    padding: 7px 50px;
    border-radius: 20px;
    box-shadow: var(--border-shadow);
    text-align: center;
}

.nav-links li{
    margin: 0 20px;
    list-style: none;
    letter-spacing: 1px;
}

.nav-links a{
    text-decoration: none;
    font-weight: bolder;
    color: var(--text-color);
    transition: var(--transition);
}

.nav-links a:hover{
    background-color: var(--main-color);
    border-radius: 10px;
    color: var(--background-color);
}

.nav-links a:active{
    color: var(--second-main-color);
}

.hero{  
    height: 100vh;    
    position: relative;
    background-image: url(./images/lwande.jpg);
    background-size: cover;
}

.hero::after{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: black;  
    opacity: .5;
}

.hero h2{
    color: white;
    letter-spacing: 2px;
    line-height: 1.4;
}

.hero h2:nth-child(1){
    margin-top: 2vh;
}

.hero h2:nth-child(2){
    font-weight: bolder;
    font-size: 1.7rem;
}

.hero h2:nth-child(3){
    margin-top: 3vh;
    color: white;
}

.hero .container{
    position: absolute;
    bottom: 30vh;
    left: 8vw;
}

#about-me{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: var(--background-color);
}

.a-m-heading{
    font-size: 2rem;
    text-align: center;
    margin: 50px 0;
    letter-spacing: 3px;
}

.a-m-paragraph{
    font-weight: bold;
    margin: 30px 0;
    line-height: 1.4;
    word-spacing: 2px;
}

#projects{
    min-height: 100vh;
    width: 100%;
    background-color: #ddd;
}

.p-image{
    height: 100px;
    width: 200px;
    margin-top: 10px;
    box-shadow: var(--border-shadow);
    transition: all 120ms ease-out;
}

.p-image:hover{
    transform: scale(1.1);
}

.p-title{
    text-decoration: none;
    color: #333;
}

.p-title:hover{
    color: var(--main-color);
}

.p-card{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#contacts{
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #ccc;
}

.c-heading{
    font-size: 2rem;
    text-align: center;
    margin: 50px 0;
    letter-spacing: 3px;
}

.c-card{
    background-color: rgb(235, 233, 233);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 50px;
    border-radius: 10px;
    box-shadow: var(--border-shadow);
    margin: 70px 0;
}

.c-card p{
    font-weight: bold;
    font-size: 0.8rem;
    line-height: 1.2;
    letter-spacing: 1px;
}

.c-image{
    margin-bottom: 20px;
}

.back-to-top li{
    visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--main-color);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-decoration: none;
    list-style: none;
    font-weight: bolder;
    color:var(--second-main-color);
    transition: var(--transition);
    box-shadow: var(--border-shadow);
    position: fixed;
    bottom: 50vh;
    left: 5vw;
}

.show-top .back-to-top li{
    visibility: visible;
}

footer{
    background-color: black;
    color:  rgb(235, 233, 233) ;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    width: 100%;
}

@media(max-width : 768px){

    #main-head ul{
        flex-direction: column;
        position: absolute;
        padding-top: 90px;
        top: 0;
        right: 0;
        width: 50vw;
        height: 100vh;
        background-color: var(--main-color);
        border-radius: 0;
        transition: var(--transition);
        display: none;
    }

    .close-menu span{
        color:var(--text-color) ;
        position: absolute;
        left: 55vw;
        top: 15px;
        display: inline-block;
        visibility: hidden;
        z-index: 1;
    }

    .ghost-close-menu .close-menu span{
        visibility: visible;
    }

    .close-menu span:hover{
        background-color: var(--main-color);
        color: var(--background-color);
    }

    .close-menu span:active{
        color: var(--second-main-color);
    }

    #main-head .show{
        transform: translateX(0);
    }

    #main-head li{
        padding: 20px;
    }

    .menu-bars{
        visibility: visible;
        background-color: var(--main-color);
        padding: 4px;
        transition: var(--transition);
        border: none;
    } 

    .menu-bars:hover{
        background-color: var(--background-color);
    } 

    .close-bars:hover{
        background-color: red;
    }
}
